.eunit
.rebar
.coap_dialyzer*
deps
ebin
.project
.settings
src/coap_core_link_scanner.erl
src/coap_core_link_parser.erl
erl_crash.dump
*.pem
/_build/
.idea/
_build/
examples/sample.iml
lwm2m_coap.iml
rebar.lock
*.d
Makefile.orig.mk
